


body {
background-color:#2d2c2b;
}

img {
    width: 100%;
}


video {
    width: 100%;
}


.boton { 
position: fixed;
color: rgb(0, 0, 0);
max-width: 9%;
width: 51px;
max-height: 16%;
height:51px;
background-color: #e5c165;
border-radius:50%;
box-shadow: #636060;
position: fixed;
margin-left:-20px;
    }